[package]
name = "cli"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4", features = ["derive"] }
net-p2p = { path = "../net-p2p" }
tokio = { version = "1", features = ["rt-multi-thread","macros"] }
